node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
.npmrc
.npm/
.nvmrc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/
debug.log
*.tmp
tmp/

dist/
build/
.next/
.out/
.cache/
.expo/

.deno.lock

.env
.env.local
.env.development
.env.production
.env.test
.env.*.local
!.env.example

prisma/migrations/
!prisma/migrations/**/README.md

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

.eslintcache
.prettiercache


.next/cache/
.next/static/
out/
.nyc_output/

.turbo/

docker-compose.override.yml
